<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>forceSimpleFilePaths</key>
	<true/>
	<key>trackSmallRows</key>
	<false/>
	<key>trackCombinedTitleSource</key>
	<true/>
	<key>keepFilterBetweenPlaylists</key>
	<false/>
	<key>quantizedJump</key>
	<false/>
	<key>trackColumnsHidden</key>
	<dict>
		<key>albumColumn</key>
		<string></string>
		<key>authorColumn</key>
		<string></string>
		<key>yearColumn</key>
		<string></string>
		<key>dateAddedColumn</key>
		<true/>
		<key>keyColumn</key>
		<true/>
		<key>bpmColumn</key>
		<true/>
	</dict>
	<key>animateWaveformTransitions</key>
	<true/>
	<key>animateWaveformAnalysis</key>
	<true/>
	<key>previewWaveformAnalysis</key>
	<true/>
	<key>autoAnalyzeTracksOnAdd</key>
	<true/>
	<key>autoPlayTracksOnOpen</key>
	<true/>
	<key>titleBarStylization</key>
	<real>0.5</real>
	<key>updatingTrackUpdatesAlbum</key>
	<true/>
</dict>
</plist>
