<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>keepFilterBetweenPlaylists</key>
	<true/>
	<key>quantizedJump</key>
	<true/>
	<key>trackColumnsHidden</key>
	<dict>
		<key>albumColumn</key>
		<string></string>
		<key>authorColumn</key>
		<string></string>
	</dict>
</dict>
</plist>
