github "audiokit/AudioKit"
#github "nhurden/MediaKeyTap"
git "https://github.com/the0neyouseek/MediaKeyTap.git"
github "mixedinkey-opensource/MIKMIDI"
github "sindresorhus/Preferences"
github "sindresorhus/Defaults"
